@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white : hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
    --big-shoulders-font: 'Big Shoulders Display', cursive;
    --big-shoulders-font-weight: 700;
    --deca-font: 'Lexend Deca', sans-serif;
    --deca-font-weight: 400
}

*, *::before, *::after {
    box-sizing: border-box;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
 
input, button, textarea, select {
    font: inherit;
  }

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
}

.display-card {
    border-radius: 0.5rem;
    color: var(--transparent-white);
    font-family: var(--deca-font);
    font-weight: var(--deca-font-weight);
}

.sections {
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr;
    row-gap: 2rem;
    padding: 3rem;
    /* font-size: 1.2rem; */
}

.sedans-section{
    background-color: var(--bright-orange);
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.headers {
    font-family: var(--big-shoulders-font);
    font-weight: var(--big-shoulders-font-weight);
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.sedans-header::before{
    content: url('./images/icon-sedans.svg');
}

.suvs-section {
    background-color: var(--dark-cyan);
}

.suvs-header::before{
    content: url('./images/icon-suvs.svg');
}

.luxury-section {
    background-color: var(--very-dark-cyan);
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.luxury-header::before{
    content: url('./images/icon-luxury.svg');
}

.buttons {
    width: fit-content;
    height: fit-content;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: solid 2px var(--transparent-white);
    background-color: white;
}

.buttons:hover {
    background-color: transparent;
    color: var(--transparent-white);
}

.learn-more-sedan {
    color: var(--bright-orange);
}

.learn-more-suv {
    color: var(--dark-cyan);
}

.learn-more-luxury {
    color: var(--very-dark-cyan);
}

.attribution { 
    margin-top: 4rem;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.visually-hidden {
    color: transparent;
    font-size: 1rem;
}

@media screen and (min-width: 800px) {
    .display-card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 65%;
    }

    .sections {
        row-gap: 0.5rem;
    }

    .sedans-section {
        border-top-right-radius: 0;
        border-bottom-left-radius: inherit;
    }

    .luxury-section {
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        border-bottom-left-radius: 0;
    }

    .buttons {
        margin-top: 4rem;
    }

}